:host[platform="win32"][design="window"] {
	padding: 1px; height: 32px;
	display: flex; flex-flow: row nowrap;
	font-size: 14px;
	-webkit-app-region: drag;
}

	:host[platform="win32"][design="window"]  > [titlebar-menu] {
		flex: 1 1;
    	display: flex; flex-flow: row nowrap; align-items: flex-start;
	}

		:host[platform="win32"][design="window"]  > [titlebar-menu] > [titlebar-icon] {
			-webkit-app-region: no-drag;
		}

		:host[platform="win32"][design="window"]  > [titlebar-menu] > [titlebar-title] {
			align-self: center; margin-left: 4px;
			flex: 1 1; padding-left: 2px; overflow: hidden;
			text-overflow: ellipsis; white-space: nowrap;
		}


	:host[platform="win32"][design="window"]  > .Controls {
		margin-left: 8px;
		display: flex; min-width: 136px; max-width: 136px;
		-webkit-app-region: no-drag;
	}
		:host[platform="win32"][design="window"]  > .Controls > * {
			flex: 1 0;
			font-size: 1.25em;

		}

	:host[platform="win32"][design="window"] button {
		color: #FFFFFF;
		background-color: transparent; border: 0px solid transparent;
	}
	:host[platform="win32"][design="window"] button:hover,
	:host[platform="win32"][design="window"] button:focus {
		background-color: rgba(128, 128, 128, 0.25); color: #fff;
	}

	:host[platform="win32"][design="window"][debuggable]  > forge-titlebar-insert {
		min-width: 96px;
		-webkit-app-region: no-drag;
	}
